/* alata-regular - latin */
@font-face {
    font-family: 'Alata';
    font-style: normal;
    font-weight: 400;
    src: local('Alata Regular'), local('Alata-Regular'),
         url('../fonts/alata-v1-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/alata-v1-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* Sofia-Pro Light*/
  @font-face{
    font-family: 'Sofia Pro';
    font-weight: 300;
    font-style: normal;
    src: local('Sofia Pro')
         url(/font/SofiaProLight.woff) format('woff')
  }

  /*Sofia Pro Regular*/
  @font-face{
       font-family: 'Sofia Pro';
       font-style: normal;
       font-weight: normal;
       src: local('Sofia Pro')
            url(/font/SofiaProRegular.woff) format('woff')
  }

  /* Sofia Pro  Bold*/
  @font-face{
       font-family: 'Sofia Pro';
       font-weight: bold;
       font-style: normal;
       src: local('Sofia Pro')
            url(/font/SofiaProBold.woff)
  }
